<p style="text-align: center; background-color: white;">
  <a href="{{site.baseurl}}/">Home</a> |
  <a href="{{site.baseurl}}/rmarkdowns/Course_Intro.html">Course Intro</a> | 
  <a href="{{site.baseurl}}/rmarkdowns/installation_guide.html">Install Guide</a> | 
  <a href="{{site.baseurl}}/rmarkdowns/intro_to_r.html">Intro to R</a> | 
  <a href="{{site.baseurl}}/rmarkdowns/Week_1.html">Week 1</a> | 
  <a href="{{site.baseurl}}/rmarkdowns/Week_2.html">Week 2</a> |
  <a href="{{site.baseurl}}/rmarkdowns/Week_3.html">Week 3</a> | 
  <a href="{{site.baseurl}}/rmarkdowns/Week_4.html">Week 4</a> | 
  <a href="{{site.baseurl}}/rmarkdowns/Final_Challenge.html">Final Challenge</a> 
</p>
